@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(59 130 246);
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 100px);
  grid-gap: 0.5rem;
}
